section#highlight
	.container
		.four.columns
			.highlight-block.publish
				img.icon(alt="{{ 'Publish your data' | translate }}", src='/img/icon_publish.png')
				h2(translate) Publish your data
				p.block-text(translate) Create layers and import geographic data
		.four.columns
			.highlight-block.publish
				img.icon(alt="{{ 'Tell your stories' | translate }}", src='/img/icon_story.png')
				h2(translate) Tell your stories
				p.block-text(translate) Publish geolocated reports, photos and videos
		.four.columns
			.highlight-block.publish
				img.icon(alt="{{ 'Visualize' | translate }}", src='/img/icon_view.png')
				h2(translate) Visualize
				p.block-text(translate) Create maps mixing yours and public layers
	.links(ng-hide='ybySettings.general.onlyInvitedUsers || isAuth')
		a.register(href='/signup')
			strong(translate) Register
			&nbsp; 
			span(translate) and start mapping!
section#featured-projects(style="background-image: url(http://lab.oeco.org.br/wp-content/uploads/2014/03/mapahorta.png);")
	.project
		.container
			.five.columns
				h2 Destaque
		.project-info
			h3 Horta comunitárias no Brasil
			p.author Miguel Peixe
			a.button(href="http://mapascoletivos.com.br/maps/5331c8d7b3ffc5b447260a26/" target="_self") Veja o mapa
if selectedProjects
	section#selected-projects.home-section
		.container
			.twelve.columns
				.title
					h2 Mapas selecionados
			.project-list
				ul
					each project, i in selectedProjects
						li.four.columns
							article
								.img(style="background-image:url(#{project.img})")
									a(href="#{project.url}" title="#{project.title}")
								h3
									a(href="#{project.url}" title="#{project.title}") #{project.title}
								p #{project.description}